<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Teahour 2.0" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:site_name" content="Teahour 2.0">
    <% if content_for?(:meta_tags) %>
      <%= yield :meta_tags %>
    <% else %>
      <meta property="og:title" content="Teahour 2.0">
      <meta property="og:description" content="Teahour 2.0 是一档针对程序员播客节目，更是一场思维的探索。">
      <meta property="og:image" content="https://assets.teahour.dev/teahour-logo-apple.png">
      <meta property="og:type" content="website">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="Teahour 2.0">
      <meta name="twitter:description" content="Teahour 2.0 是一档针对程序员播客节目，更是一场思维的探索。">
      <meta name="twitter:image" content="https://assets.teahour.dev/teahour-logo-apple.png">
    <% end %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= auto_discovery_link_tag :rss, episodes_url(format: :rss) %>
  </head>

  <!-- header-->
  <nav class="flex justify-between items-center p-4">
    <%= link_to root_path do %>
      <img alt="Teahour podcast logo" class="h-20 rounded-full" height="80" src="<%= asset_path("teahour2-logo.jpg")%>" width="80"/>
    <% end %>
   <div class="space-x-6 text-gray-600 text-sm">
    <a class="hover:text-gray-900" href="/">
        Home
    </a>
    <a class="hover:text-gray-900" href="/feed">
      RSS
    </a>
   </div>
  </nav>

  <body>
    <%= yield %>
  </body>

  <!-- Footer -->
  <footer class="bg-[#282f34] text-white py-8">
    <div class="max-w-5xl mx-auto px-4">
      <div class="flex justify-between items-center mb-4">
        <p class="text-sm">
        Teahour © <%= Date.today.year %> by CC
        </p>
        <div class="space-x-6 text-sm">
          <a class="hover:text-gray-300" href="/">
            Home
          </a>
          <a class="hover:text-gray-300" href="https://teahour.fm">
            Teahour 1.0 
          </a>
          <a class="hover:text-gray-300" href="/feed">
            RSS
          </a>
        </div>
      </div>
    </div>
  </footer>
</html>
